
<h1>{{title}}</h1>

<a href="/Currie">LAUCHLIN CURRIE</a> &nbsp <a href="/Hirshman">ALBERT HIRSCHMAN</a> &nbsp
<a href="/omekaCurrie">LAUCHLIN CURRIE OMEKA</a> &nbsp <a href="/omekaHirshman">ALBERT HIRSCHMAN OMEKA</a>
&nbsp <a href="/d3">D3 LAUCHLIN CURRIE Y ALBERT HIRSCHMAN</a>
<br> <br> &nbsp <a href="/nlp">NLP LAUCHLIN CURRIE Y ALBERT HIRSCHMAN</a>
<br> <br>
<img src="{{banner}}" alt="Currie y Hirshman">
<br> <br>

<strong><p>{{Título}}</p></strong>
<em><p><p>{{Cita}}</p></p></em>
<em><p><p>{{Cita1}}</p></p></em>
<p>{{Cita2}}&nbsp<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2625815">Ver más</a></p>
